<%= form_for(@final_grade) do |f| %>
  <% if @final_grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@final_grade.errors.count, "error") %> prohibited this final_grade from being saved:</h2>

      <ul>
      <% @final_grade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :userID %><br />
    <%= f.number_field :userID %>
  </div>
  <div class="field">
    <%= f.label :course %><br />
    <%= f.number_field :course %>
  </div>
  <div class="field">
    <%= f.label :coursename %><br />
    <%= f.text_field :coursename %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.number_field :grade %>
  </div>
  <div class="field">
    <%= f.label :hours %><br />
    <%= f.number_field :hours %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
