<h1>Listing final_grades</h1>

<table>
  <tr>
    <th>Userid</th>
    <th>Course</th>
    <th>Coursename</th>
    <th>Grade</th>
    <th>Hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @final_grades.each do |final_grade| %>
  <tr>
    <td><%= final_grade.userID %></td>
    <td><%= final_grade.course %></td>
    <td><%= final_grade.coursename %></td>
    <td><%= final_grade.grade %></td>
    <td><%= final_grade.hours %></td>
    <td><%= link_to 'Show', final_grade %></td>
    <td><%= link_to 'Edit', edit_final_grade_path(final_grade) %></td>
    <td><%= link_to 'Destroy', final_grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Final grade', new_final_grade_path %>
